# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/workspace.xml

# Logs and databases
*.log
*.sqlite3

# IDEs
.idea/
.vscode/
.agents/
*.swp
*.swo

# Project specific
data/
research_paper/
history/